.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #e9ecef;
    border-right: 1px solid #ced4da;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20;
    left: 0;
  }
  
  .search-bar input {
    background-color: #f1f3f5;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }